/* COLOR HEX
//  #26145e -- dark blue
//  #015198 -- blue
//  #0085c6 -- light blue
//
//
//
*/

body {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

a {
	color: #0085c6;
}
.image-block {
	display: block;
	max-width: 100%;
}

/** LOGIN **/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* HEADER */

nav.navbar {
	background: #015198;
	color: #ffffff;
}


/* FOOTER */

footer {
	background: #26145e;
	padding: 1em 25px;
	color: #ffffff;
}

a.button-dl {
    white-space: normal;
    text-align: left;
    padding: 1em 1em 1em 3em;
    position: relative;
	margin-bottom: 0.2em;
	display: block;
}
.btn-group-vertical > a.button-dl {
	margin-bottom: 0;
}

a.button-dl > i.fa {
    position: absolute;
    top: 50%;
    left: 0.5em;
    font-size: 30px;
    margin-top: -15px;
}

#accordion .card-header a {
    display: block;
}

/* FORM */

form-main-register {
    width: 100%;
}
.form-main-register h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}
.heading-register {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}
.heading-register span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}   
.form-register {
    border-radius: 7px;
    padding: 6px;
}
.txt-register[type="text"] {
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 5px 0 5px 10px;
    width: 100%;
}
.txt-3-register[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}
.txt2-register[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}
.txt2-register:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}

.button-search-register {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}